<div class="container m-auto d-flex flex-column justify-content-center">
  <h1 class="mx-auto my-3">我縮你的網址！</h1>
  <img class="m-auto" style="width:100px;" src="../static/image/link-image.png">

  <form action="/" method="POST" style="display: inline;">
    <div class="input-group my-3">
      <span class="btn btn-primary input-group-text" id="basic-addon3">Your URL</span>
      <input type="url" name="yourUrl" class="form-control input-text" id="basic-url" aria-describedby="basic-addon3"  placeholder="Enter your URL" required>
      <button type="submit" class="btn btn-secondary " style="width:42px" ><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </form>
</div>